.newchat-users {
    position: absolute;
    width:100%;
    left: 100%;
    top: 95px; 
    bottom: 40px; 
    background-color:rgba(0,0,0,0.1);
    transition: left ease-in-out .2s;  
    .channel-form{
        display: flex; 
        padding: 0;
        input{  
            padding: 5px; 
            margin: 2px 5px;
            border-radius: 5px; 
            border: 1px solid #902039;
            background-color: #60071b; 
            box-sizing: border-box;
            color:#fff;
        }
        button{
            width: auto;
        }
    }
   
    
    ul{
        list-style: none;
        li{margin-top:2px;
            .user-data-container{
                background-color: rgba(146, 0, 0, 0.4);
                font-size: 0.8em; 
                transition: all ease-in-out .2s;
                box-shadow: none;
                position: relative;
            }
            .user-data-container:hover{
                cursor: pointer;
                background-color: rgba(146, 0, 0, 0.7);
            }
            .user-data-container:after{
                font-family: fontAwesome;
                content: '\f00c';
                color:#fff;
                position: absolute; 
                right:-50px;
                top:50%;
                margin-top:-10px;
                font-size: 2em; 
                transition: right ease-in-out .2s;
            }
        }
        
        li.selected  .user-data-container:after{
            right:10px;
        }
    }
}
.newchat-users.show{
    left:0;  
}