.news-item {
    background-color: #fff;
    margin-top: 20px;
    padding: 20px;
    font-size: .6em;
    border-radius: 4px;
    box-shadow: 2px 2px 4px #ccc;
    .date { 
        font-family: 'Open Sans', sans-serif;  
        position: absolute;      
        right: 30px;
        margin-top: -36px;
        font-size: .8em;     
        color: #999; 
    } 
}