.main-body{
    position:fixed;
    top:0;
    left:250px;
    z-index: 0;
    bottom:0;
    right:0;
    box-shadow:5px 0 8px #aaa inset,2px 0 3px #aaa inset;
    font-size:2.5em;
    padding:0 20px; 
    transition: left ease-in-out .2s;
    p{
        font-size:.6em;
    }
}
@media (max-width:780px){
    .main-body{left:0px;}
}