.chat-input{
    position: absolute;
    bottom: 40px;
    left: 0;
    right: 0;
    height: 30px; 
    background-color: #eee; 
    box-shadow:0 -2px 6px #999;
    padding:5px; 
    display: flex; 
    align-items: flex-end;
    textarea{
        flex-grow: 1;
        height: inherit;
        resize: none;
        font-size: 0.6em;  
        padding-left: 5px;
        margin-top: 5px;  
        color: #333;
        background-color: transparent; 
        border: none;
        border-left: 1px solid #ccc;
        border-right: 1px solid #ccc;
    }
    textarea.empty{
        color:#999;
    }
    button{
        border: none;
        border-right-width: medium;
        border-right-style: none;
        border-right-color: currentcolor;
        background: transparent;
        color: #999;
        width: 30px; 
        height: 30px;
        .fa{
            font-size:1.5em;
        }
    }
    button:hover{
        color:#555;
        cursor: pointer;
    }
}